<div class="mx-3 d-flex align-items-center py-2 my-2">

    <h2 class="my-auto text-muted">Registro de Sincronizaciones</h2>
    <div class="ml-auto">
        <button class="mx-1" mat-raised-button [disabled]="!flag" (click)="SincronizarDatos()" color="accent">
            Sincronizar Manualmente </button>
        <button class="mx-1" mat-raised-button [disabled]="!flag" (click)="SincronizarDatosDesde()" color="primary">
            Sincronizar Desde </button>
        <button class="mx-1 bg-excel text-white" mat-raised-button (click)="exportexcel()">
            Exportar a Excel </button>

    </div>

</div>

<div class="example-container mat-elevation-z8 mx-3">

    <div class="example-loading-shade" *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>

    </div>

    <div class="example-table-container">

        <table id="excel-table" mat-table [dataSource]="data" class="example-table" matSort matSortDisableClear
            multiTemplateDataRows matSortDirection="desc">

            <ng-container matColumnDef="idSincronizacion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>No.Sincronización</th>
                <td mat-cell *matCellDef="let element">{{element.idSincronizacion}}</td>
            </ng-container>

            <ng-container matColumnDef="tipo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo de Sincronización</th>
                <td mat-cell *matCellDef="let element">{{element.tipo}}</td>
            </ng-container>

            <ng-container matColumnDef="fecha">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Fecha
                </th>
                <td mat-cell *matCellDef="let element ">{{ element.fecha !==null? (element.fecha | date:'dd/MM/yyyy h:mm:ss a'):"No Finalizada"}}</td>
            </ng-container>

            <ng-container matColumnDef="fechaFin">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Fecha Fin
                </th>
                <td mat-cell *matCellDef="let element ">{{ element.fechaFin !==null? (element.fechaFin | date:'dd/MM/yyyy h:mm:ss a'):"No Finalizada"}}</td>
            </ng-container>
            <ng-container matColumnDef="usuario">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Generador
                </th>
                <td mat-cell *matCellDef="let element ">{{ element.usuario !==null? element.usuario:"AUTOMATICO"}}</td>
            </ng-container>
            <ng-container matColumnDef="estado">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
                <td mat-cell *matCellDef="let element">{{element.estado}}</td>
            </ng-container>

            <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                    <div class="example-element-detail"
                        [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                        <div class="d-flex flex-row">
                            <div class="mr-auto">
                                <div class="d-flex flex-row">
                                    <p class="font-weight-bold my-0">Estudiantes migrados</p>
                                    <span class="example-element-description-attribution">
                                        {{element.estudiantesMigrados}} </span>
                                </div>
                                <div class="d-flex flex-row">
                                    <p class="font-weight-bold my-0">Cursos migrados</p>
                                    <span class="example-element-description-attribution"> {{element.cursosMigrados}}
                                    </span>
                                </div>
                                <div class="d-flex flex-row">
                                    <p class="font-weight-bold my-0">Errores</p>
                                    <span class="example-element-description-attribution"> {{element.errores}} </span>
                                </div>

                                <div class="d-flex flex-row" *ngIf="element.fechaDesde">
                                    <p class="font-weight-bold my-0">Fecha desde</p>
                                    <span class="example-element-description-attribution"> {{element.fechaDesde| date:'dd/MM/yyyy'}} </span>                                    
                                </div>
                            </div>
                            <div *ngIf="element.errores!==0">
                                <button class="mx-2" mat-raised-button color="warn" [disabled]="!flag"
                                    [routerLink]="'errores/'+element.idSincronizacion"> Ver Registro de Errores
                                </button>
                            </div>

                        </div>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row"
                [class.example-expanded-row]="expandedElement === element"
                (click)="expandedElement = expandedElement === element ? null : element">
            </tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>
    </div>

    <mat-paginator showFirstLastButtons [length]="resultsLength" [pageSizeOptions]="[ 10, 25, 50, 100]"></mat-paginator>
</div>