<div class="mx-3 d-flex align-items-center py-2 my-2">
  <h2 class="my-auto text-muted">Errores de Servidor</h2>
  <div class="ml-auto">
    <button class="mx-1 bg-excel text-white" mat-raised-button (click)="exportexcel()">
      Exportar a Excel </button>
  </div>
</div>

<div class="example-container mat-elevation-z8 mx-3 mb-4">
  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="example-table-container">

    <table id="excel-table" mat-table [dataSource]="data" class="example-table" matSort matSortDisableClear
      multiTemplateDataRows matSortDirection="desc">

      <ng-container matColumnDef="tipoError">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo</th>
        <td mat-cell *matCellDef="let element">{{element.tipoError}}</td>
      </ng-container>

      <ng-container matColumnDef="error">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Error</th>
        <td mat-cell *matCellDef="let element">{{element.error}}</td>
      </ng-container>

      <ng-container matColumnDef="idSincronizacion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>No.Sincronización</th>
        <td mat-cell *matCellDef="let element">{{element.idSincronizacion}}</td>
      </ng-container>

      <ng-container matColumnDef="fechaError">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Fecha
        </th>
        <td mat-cell *matCellDef="let element ">{{element.fechaError | date:'dd/MM/yyyy h:mm:ss a'}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns;">
      </tr>
    </table>
  </div>

  <mat-paginator showFirstLastButtons [length]="resultsLength" [pageSizeOptions]="[ 10, 25, 50, 100]"></mat-paginator>
</div>