/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
:root{
  --bg-universidad:#E63946;
}

a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.bg-excel{
  background: #387037 !important;
}

// .bg-accent{
//   background-color: $moodle-accent !important;
// }

.btn-primary {
  color: #fff;
  background-color: var(--bg-universidad);
  border-color: var(--bg-universidad);
}

.bg-upoli{
background-color: var(--bg-universidad);
}

.card {
  border: none !important;
  border-radius: 3px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .24), 0 0 2px rgba(0, 0, 0, .12) !important;
  margin-bottom: 10px;
}

.bg-alert{
  background-color: rgba(var(--bg-universidad),0.9);
}
html, 
body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* Structure */
.example-container {
  position: relative;
  min-height: 200px;
}

.example-table-container {
  position: relative;
  max-height: 350px;
  overflow: auto;
}

table {
  width: 100%;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

