<h1 mat-dialog-title>Enlazar orígenes</h1>
<div mat-dialog-content>
    <mat-form-field appearance="fill" class="w-100 mb-4">
        <mat-label>Categoria Upoli</mat-label>
        <mat-select [formControl]="categoriaUpoliControl" required>
            <mat-option>Seleccione</mat-option>

            <mat-option *ngFor="let categoria of categoriaUpoli" [value]="categoria">
                {{categoria.rama}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="categoriaUpoliControl.hasError('required')">Porfavor seleccione una categoria</mat-error>
        <mat-hint *ngIf="categoriaUpoliControl.value">se ha seleccionado la carrera
            {{categoriaUpoliControl.value?.carrera}}</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-100">
        <mat-label>Categoria EVA</mat-label>
        <mat-select [formControl]="categoriaEvaControl" required>
            <mat-option>Seleccione</mat-option>

            <mat-option *ngFor="let categoria of categoriaEva" [value]="categoria">
                {{categoria.ramaEVA}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="categoriaEvaControl.hasError('required')">Porfavor seleccione una categoria</mat-error>
        <mat-hint *ngIf="categoriaEvaControl.value">se ha seleccionado la carrera {{categoriaEvaControl.value?.nameEVA}}
        </mat-hint>
    </mat-form-field>
</div>
<div mat-dialog-actions align="end">
    <button mat-button (click)="cancelar()">Cancelar</button>
    <button mat-button color="primary" [disabled]="!flag"
        (click)="guardarEnlace(categoriaEvaControl.value,categoriaUpoliControl.value)">Enlazar
    </button>
</div>