<div class="d-flex justify-content-center align-items-center">
    <mat-card class="my-5">
        <mat-card-title>Inicio de sesión</mat-card-title>
        <mat-card-subtitle>Por favor ingrese sus credenciales para poder continuar</mat-card-subtitle>
        <mat-card-content>
          
            <mat-form-field appearance="fill" class="w-100">
                <mat-label>Usuario</mat-label>
                <input matInput [formControl]="userControl" [(ngModel)]="cuenta.usuario1" required>
                <mat-error *ngIf="userControl.hasError('required')">Por favor ingrese su usuario</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="w-100">
                <mat-label>Contraseña</mat-label>
                <input matInput [formControl]="passControl" (keydown.enter)="login()" [type]="hide ? 'password' : 'text'" [(ngModel)]="cuenta.pass"  required>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Ocultar contraseña'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="passControl.hasError('required')">Por favor ingrese su contraseña</mat-error>

              </mat-form-field>
            
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-button [disabled]="!flag" (click)="login()">INICIAR SESIÓN
            </button>
        </mat-card-actions>
    </mat-card>

</div>