<h1 mat-dialog-title>Sincronizar desde una fecha</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill" class="w-100">
    <mat-label>Fecha de Inicio</mat-label>
    <input matInput [matDatepicker]="dp3" [max]="maxDate" [formControl]="sincroDesdeControl">
    <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
    <mat-datepicker #dp3 disabled="false"></mat-datepicker>
    <mat-error *ngIf="sincroDesdeControl.hasError('required')">Porfavor ingrese la fecha en que iniciará la sincronización</mat-error>

  </mat-form-field>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="cerrar(false)">Cancelar</button>
  <button mat-button color="primary" (click)="cerrar(true)" [disabled]="sincroDesdeControl.invalid">Sincronizar
  </button>
</div>