<h1 mat-dialog-title>{{titulo}}</h1>
<div mat-dialog-content>
    <mat-form-field appearance="fill" class="w-100">
        <mat-label>Usuario</mat-label>
        <input matInput [formControl]="usuarioControl" required>
        <mat-error *ngIf="usuarioControl.hasError('required')">Por favor ingrese su usuario</mat-error>
    </mat-form-field>

    <ng-container *ngIf="!isEdit">
        <mat-form-field appearance="fill" class="w-100">
            <mat-label>Contraseña</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" [formControl]="passControl" required>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Ocultar contraseña'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="passControl.hasError('required')">Debe ingresar una contraseña</mat-error>

        </mat-form-field>

        <mat-form-field appearance="fill" class="w-100">
            <mat-label>Repetir Contraseña</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" [formControl]="repassControl" required>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Ocultar contraseña'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="repassControl.hasError('required')">Debe confirmar su contraseña</mat-error>
        </mat-form-field>

    </ng-container>

    <mat-checkbox [formControl]="isAdminControl">Usuario Administrador</mat-checkbox>

</div>
<div mat-dialog-actions align="end">
    <button mat-button (click)="cancelar()">Cancelar</button>
    <button *ngIf="!usuario" color="primary" mat-button [disabled]="!flag"
        (click)="crearUsuario(usuarioControl.value,passControl.value,repassControl.value,isAdminControl.value)">{{texto_boton}}
    </button>
    <button *ngIf="usuario" color="primary" mat-button [disabled]="!flag"
        (click)="isEdit?editUser(usuarioControl.value,isAdminControl.value):resetPass(passControl.value,repassControl.value)">{{texto_boton}}
    </button>
</div>