<div class="mx-3 d-flex align-items-center py-2 my-2">
  <a routerLink="/reporte/consolidado">
      <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
          <mat-icon>west</mat-icon>
      </button>

  </a>
  <h2 class="my-auto ml-2 text-muted">Estudiantes no sincronizados del curso No.{{idCurso}} </h2>


  <button class="ml-auto bg-excel text-white" mat-raised-button (click)="exportexcel()">
      Exportar a Excel </button>

</div>


<div class="example-container mat-elevation-z8 mx-3">

  <div class="example-loading-shade" *ngIf="isLoadingResults ">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>

  </div>

  <div class="example-table-container">

      <table mat-table [dataSource]="data" class="example-table" matSort matSortDisableClear>

          <ng-container matColumnDef="carnet">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Carnet</th>
              <td mat-cell *matCellDef="let element">{{element.carnet}}</td>
          </ng-container>

          <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Estudiante</th>
              <td mat-cell *matCellDef="let element">{{element.nombre}}</td>
          </ng-container>
          <ng-container matColumnDef="correoEstudiante">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Correo</th>
              <td mat-cell *matCellDef="let element">{{element.correoEstudiante}}</td>
          </ng-container>

          <ng-container matColumnDef="fechaInscripcion">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Fecha Inscripción
              </th>
              <td mat-cell *matCellDef="let element ">{{element.fechaInscripcion | date:'dd/MM/yyyy h:mm:ss a'}}</td>
          </ng-container>
     

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  </div>

  <mat-paginator showFirstLastButtons [length]="resultsLength" [pageSizeOptions]="[ 10, 25, 50, 100]"></mat-paginator>
</div>