<div class="d-flex justify-content-center align-items-center">
    <mat-card class="my-5">
        <mat-card-title>Inscripción de curso - Demo</mat-card-title>
        <mat-card-subtitle>Este es un demo de sincronizacion manual, el registro seleccionado será creado en la base de
            datos del EVA</mat-card-subtitle>
        <mat-card-content>
          
            <mat-form-field appearance="fill" class="w-100">
                <mat-label>Curso a Inscribir</mat-label>
                <mat-select [formControl]="cursoControl" required>
                    <mat-option>Seleccione</mat-option>
                    <mat-option *ngFor="let curso of cursos" [value]="curso">
                        {{curso.nomeclaturaCurso}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="cursoControl.hasError('required')">Porfavor seleccione un curso</mat-error>
                <mat-hint>{{cursoControl.value?.cursoId}} {{cursoControl.value?.asignatura}}</mat-hint>
            </mat-form-field>
            
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-button [disabled]="!flag" (click)="registrarCurso(cursoControl.value)">REGISTRAR
            </button>
        </mat-card-actions>
    </mat-card>

</div>