<div class="mx-3 d-flex align-items-center py-2 my-2">
    <a routerLink="/sincronizaciones">
        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
            <mat-icon>west</mat-icon>
        </button>

    </a>
    <h2 class="my-auto ml-2 text-muted">Registro de Errores de la sincronización No.{{idSincronizacion}} </h2>


    <button class="ml-auto bg-excel text-white" mat-raised-button (click)="exportexcel()">
        Exportar a Excel </button>

</div>


<div class="example-container mat-elevation-z8 mx-3">

    <div class="example-loading-shade" *ngIf="isLoadingResults ">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>

    </div>

    <div class="example-table-container">

        <table mat-table [dataSource]="data" class="example-table" matSort matSortDisableClear>

            <ng-container matColumnDef="tipoError">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo</th>
                <td mat-cell *matCellDef="let element">{{element.tipoError}}</td>
            </ng-container>

            <ng-container matColumnDef="error">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Error</th>
                <td mat-cell *matCellDef="let element">{{element.error}}</td>
            </ng-container>

            <ng-container matColumnDef="fechaError">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Fecha
                </th>
                <td mat-cell *matCellDef="let element ">{{element.fechaError | date:'dd/MM/yyyy h:mm:ss a'}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>

    <mat-paginator showFirstLastButtons [length]="resultsLength" [pageSizeOptions]="[ 10, 25, 50, 100]"></mat-paginator>
</div>