<div class="mt-5 col-8 pt-2 card mx-auto">
  <div class="m-3">
    <h5 class="card-title">Creación de cursos virtuales-Sincronizador</h5>
    <div class="form-group row">
      <label for="asignatura" class="col-sm-2 col-form-label">Asignatura</label>
      <div class="col-sm-10">
        <input type="text" required [(ngModel)]="curso.asignatura" class="form-control" id="asignatura">
      </div>
    </div>
    <div class="form-group row">
      <label for="docente" class="col-sm-2 col-form-label">Docente</label>
      <div class="col-sm-10">
        <input type="text" required [(ngModel)]="curso.docente" class="form-control" id="docente">
      </div>
    </div>
    <fieldset class="form-group">
      <div class="row">
        <legend class="col-form-label col-sm-2 pt-0">Género</legend>
        <div class="col-sm-10">
          <div class="form-check">
            <input class="form-check-input" [(ngModel)]="curso.genero" type="radio" name="gridRadios" id="profesor" [value]="false" checked>
            <label class="form-check-label" for="profesor">
              Profesor
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" [(ngModel)]="curso.genero" type="radio" name="gridRadios" id="profesora" [value]="true">
            <label class="form-check-label" for="profesora">
              Profesora
            </label>
          </div>
  
        </div>
      </div>
    </fieldset>
    <div class="form-group row">
      <label for="carrera" class="col-sm-2 col-form-label">Carrera</label>
      <div class="col-sm-10">
        <input type="text" [(ngModel)]="curso.carrera" required class="form-control" id="carrera">
      </div>
    </div>
    <div class="d-flex justify-content-end ">
        <button type="submit" (click)="crearcurso()" class="btn btn-primary">Crear curso</button>
    </div>
  </div>

  
  <div class="alert alert-primary" role="alert" *ngIf="url_response">
    <p class="m-0">Accede al curso a traves del siguiente enlace:
      <a href="{{url_response['datos'][0].url}}" target="_blank">{{url_response['datos'][0].url}}</a>

    </p>
  </div>

</div>