
<div class="d-flex  justify-content-center h-100">
<div class=" my-auto text-center">
    <h1  class="my-0">Bienvenido al sistema de sincronizaciones</h1>
    <h3 class="my-0">Seleccione una opción del menú para visualizar su contenido</h3>
</div>

</div>