<div class="mx-3 d-flex align-items-center py-2 my-2">

    <h2 class="my-auto text-muted">Registro de Usuarios</h2>
    <div class="ml-auto">
        <button class="mx-1" mat-raised-button [disabled]="!flag" (click)="Nuevo()" color="accent">
            Nuevo Usuario</button>

        <button class="mx-1 bg-excel text-white" mat-raised-button (click)="exportexcel()">
            Exportar a Excel </button>

    </div>

</div>

<div class="example-container mat-elevation-z8 mx-3">

    <div class="example-loading-shade" *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>

    </div>

    <div class="example-table-container">

        <table id="excel-table" mat-table [dataSource]="data" class="example-table" matSort matSortDisableClear
            multiTemplateDataRows>

            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">

                    <button *ngIf="element.usuario1!=='admin'" mat-icon-button class="text-muted"
                        (click)="editUser(element)">
                        <mat-icon>edit</mat-icon>
                    </button>
                </td>
            </ng-container>

            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">

                    <button *ngIf="element.usuario1!=='admin'" mat-icon-button class="text-muted"
                        (click)="ConfirmaEliminar(element)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <ng-container matColumnDef="idUsuario">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>No.Usuario</th>
                <td mat-cell *matCellDef="let element">{{element.idUsuario}}</td>
            </ng-container>

            <ng-container matColumnDef="usuario1">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Usuario</th>
                <td mat-cell *matCellDef="let element" [ngClass]="{'current-user':login ===element.usuario1}">
                    {{element.usuario1}}
                </td>
            </ng-container>

            <ng-container matColumnDef="pass">
                <th mat-header-cell *matHeaderCellDef>Contraseña</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-stroked-button color="primary" (click)="resetPass(element)">Cambiar</button>
                </td>
            </ng-container>

            <ng-container matColumnDef="administrador">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Administrador</th>
                <td mat-cell *matCellDef="let element">
                    {{element.isAdmin?"Si":"No"}}
                </td>
            </ng-container>


            <ng-container matColumnDef="fechaCreacion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Fecha de creación
                </th>
                <td mat-cell *matCellDef="let element ">{{element.fechaCreacion | date:'dd/MM/yyyy h:mm:ss a'}}</td>
            </ng-container>

            <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let element; columns: displayedColumns;">
            </tr>
        </table>
    </div>

    <mat-paginator showFirstLastButtons [length]="resultsLength" [pageSizeOptions]="[ 10, 25, 50, 100]"></mat-paginator>
</div>