@import 'src/custom-theme.scss';

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.example-spacer {
  flex: 1 1 auto;
}
.example-container {
  position: absolute;
  top: 60px;
  bottom: 60px;
  left: 0;
  right: 0;
}

.example-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  background: $dark-primary-color;
}

.example-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.example-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.mat-toolbar h6{
  font-weight: normal;
  font-size: small;
}

[class^='mat-list-'] {
  &:hover:active {
    background: rgba(255, 255, 255, 0.04);
  }
  &:focus,
  .mat-list-text {
    background: none !important;
  }
}

.mat-list-item.is-active {
  background: rgba(0,0,0, 0.3) !important;
}

.login-text{
  font-weight: normal;
  font-size: small;
}

.item-son{
  padding-left: 50px !important;
}