<header>
  <mat-toolbar color="primary">
    <button mat-icon-button *ngIf="user" (click)="sidenav.toggle()" class="example-icon"
      aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>ENLACE EVA</span>
    <span class="example-spacer"></span>

    <ng-container *ngIf="user">
      <span class="login-text">Sesión: {{login}}</span>
      <button mat-icon-button (click)="logout()" class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon">
        <mat-icon>exit_to_app</mat-icon>
      </button>

    </ng-container>
  </mat-toolbar>

</header>
<mat-sidenav-container class="example-container" [hasBackdrop]="false">
  <mat-sidenav opened #sidenav mode="side" class="example-sidenav" [fixedInViewport]="false">

    <mat-nav-list *ngIf="user">
      <mat-list-item *ngIf="isAdmin" [routerLinkActive]="['is-active']" mat-list-item class="text-white" routerLink="/enlace-info">
        <mat-icon mat-list-icon>merge_type</mat-icon>
        <p matLine>Enlace de Información</p>

      </mat-list-item>

      <mat-list-item *ngIf="isAdmin"  [routerLinkActive]="['is-active']" mat-list-item class="text-white" routerLink="/sincronizaciones">
        <mat-icon mat-list-icon>sync</mat-icon>
        <p matLine>Sincronizaciones</p>
      </mat-list-item>

      <mat-list-item [routerLinkActive]="['is-active']" class="text-white" (click)="this.expanded=!this.expanded">
        <mat-icon mat-list-icon>table_chart</mat-icon>
        <p matLine>Reportes</p>

        <mat-icon [@indicatorRotate]="expanded ? 'expanded': 'collapsed'">
          expand_more
        </mat-icon>
      </mat-list-item>

      <ng-container *ngIf="expanded">
        <mat-list-item [routerLinkActive]="['is-active']" class="text-white item-son" routerLink="/reporte/no-validos" [depth]="5">
          <!-- <mat-icon mat-list-icon>table_chart</mat-icon> -->
          <p matLine>Información no válida</p>
        </mat-list-item>
        <mat-list-item [routerLinkActive]="['is-active']" class="text-white item-son" routerLink="/reporte/consolidado" [depth]="5">
          <p matLine>Consolidado</p>
        </mat-list-item>
        <mat-list-item [routerLinkActive]="['is-active']" class="text-white item-son" routerLink="/reporte/errores-servidor" [depth]="5">
          <p matLine>Errores de Servidor</p>
        </mat-list-item>

      </ng-container>

      <mat-divider *ngIf="isAdmin" ></mat-divider>
      <mat-list-item *ngIf="isAdmin" [routerLinkActive]="['is-active']" mat-list-item class="text-white" routerLink="/usuarios">
        <mat-icon mat-list-icon>account_circle</mat-icon>
        <p matLine>Usuarios</p>

      </mat-list-item>
      <!-- <a mat-list-item (click)="sidenav.toggle()" routerLink="/" class="text-white">Demo</a> -->
      <!-- <a mat-list-item (click)="sidenav.toggle()" routerLink="/errores" class="text-white">Log de Errores</a> -->
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
    <!-- <div >

  </div> -->
  </mat-sidenav-content>
</mat-sidenav-container>
<mat-toolbar class="example-footer">
  <h6>Copyright © Universidad Politecnica de Nicaragua - Todos los derechos Reservados {{anio}}</h6>
  <h6 class="ml-auto">V.2.0</h6>
</mat-toolbar>