<h1 mat-dialog-title class="text-danger">{{data.titulo}}</h1>
<div mat-dialog-content>
    <p>{{data.mensaje}}</p>
</div>
<div mat-dialog-actions align="end">
    <button mat-button (click)="cerrarDialogo()">No</button>
    <button mat-button (click)="confirmado()" class="text-danger">Sí</button>
</div>