<div class="mx-3 d-flex align-items-center py-2 my-2">
   
  <h2 class="my-auto text-muted">Registro de Enlaces UPOLI - EVA</h2>
  <div class="ml-auto">
    <button class="mx-1" mat-raised-button (click)="Nuevo()" color="accent"> Nuevo enlace </button>
    <button class="mx-1 bg-excel text-white" mat-raised-button (click)="exportexcel()">
      Exportar a Excel </button>

   </div>
  

</div>



<div class="example-container mat-elevation-z8 mx-3">

  <div class="example-loading-shade" *ngIf="isLoadingResults ">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>

  </div>

  <div class="example-table-container ">

    <table mat-table [dataSource]="data" class="example-table"  matSort matSortDisableClear multiTemplateDataRows>
      <ng-container matColumnDef="ramaUpoli">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Rama UPOLI</th>
        <td mat-cell *matCellDef="let element">{{element.ramaUpoli}}</td>
      </ng-container>

      <ng-container matColumnDef="ramaEva">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Rama EVA</th>
        <td mat-cell *matCellDef="let element">{{element.ramaEva}}</td>
      </ng-container>

      <ng-container matColumnDef="fechaCreacion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Agregado
        </th>
        <td mat-cell *matCellDef="let element ">{{element.fechaCreacion |  date:'dd/MM/yyyy h:mm:ss a'}}</td>
      </ng-container>

      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
          <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <div class="d-flex flex-row">
              <div class="mr-auto">
                <div class="d-flex flex-row">
                  <p class="font-weight-bold my-0">Recinto</p>
                  <span class="example-element-description-attribution"> {{element.recinto}} </span>
                </div>
                <div class="d-flex flex-row">
                  <p class="font-weight-bold my-0">Escuela</p>
                  <span class="example-element-description-attribution"> {{element.escuela}} </span>
                </div>
                <div class="d-flex flex-row">
                  <p class="font-weight-bold my-0">Carrera</p>
                  <span class="example-element-description-attribution"> {{element.carrera}} </span>
                </div>
              </div>
              <div class="">
                <button class="mx-2" mat-raised-button color="warn" [disabled]="!flag"
                  (click)="ConfirmaEliminar(element)"> Eliminar </button>
              </div>

            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>
  </div>

  <mat-paginator showFirstLastButtons [length]="resultsLength" [pageSizeOptions]="[ 10, 25, 50, 100]"></mat-paginator>
</div>