<div class="mx-3 d-flex align-items-center py-2 my-2">
    <div class="my-auto text-muted">
        <h2 class="mb-0">Consolidado de Sincronizaciones</h2>
        <h4 *ngIf="totalMigrados|async,let total" class="mb-0">Estudiantes sinzronizados hasta la fecha {{total.cantidad}}</h4>
    </div>
   
    <div class="ml-auto">
        <button class="mx-1 bg-excel text-white" mat-raised-button (click)="exportexcel()">
            Exportar a Excel </button>
    </div>
</div>

<div class="example-container mat-elevation-z8 mx-3 mb-4">
    <div class="example-loading-shade" *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div class="example-table-container">

        <table id="excel-table" mat-table [dataSource]="data" class="example-table" matSort matSortDisableClear
            multiTemplateDataRows matSortDirection="desc">
            <ng-container matColumnDef="see">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">

                    <button *ngIf="element.inscritos>element.migrados" mat-icon-button class="text-muted"
                        [routerLink]="'no-sincronizados/'+element.cicloId+'/'+element.cursoId">
                        <mat-icon>remove_red_eye</mat-icon>
                    </button>
                </td>
            </ng-container>
            <ng-container matColumnDef="cicloId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Cod.Ciclo</th>
                <td mat-cell *matCellDef="let element">{{element.cicloId}}</td>
            </ng-container>

            <ng-container matColumnDef="cursoId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Cod.Curso</th>
                <td mat-cell *matCellDef="let element">{{element.cursoId}}</td>
            </ng-container>

            <ng-container matColumnDef="nomeclaturaCurso">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Nomensclatura del Curso</th>
                <td mat-cell *matCellDef="let element">{{element.nomeclaturaCurso}}</td>
            </ng-container>
            <ng-container matColumnDef="inscritos">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Inscritos UOnline</th>
                <td mat-cell *matCellDef="let element">{{element.inscritos}}</td>
            </ng-container>
            <ng-container matColumnDef="migrados">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Migrados EVA</th>
                <td mat-cell *matCellDef="let element">{{element.migrados}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
            <tr mat-row *matRowDef="let element; columns: displayedColumns;">
            </tr>
        </table>
    </div>

    <mat-paginator showFirstLastButtons [length]="resultsLength" [pageSizeOptions]="[ 10, 25, 50, 100]"></mat-paginator>
</div>